<launch>
	<!-- declare arguments with default values -->
    <arg name="image_source_topic" default="/usb_cam/image_raw"/>
    <arg name="image_detected_topic" default="/common_obj/image_detected"/>
    <arg name="model_path" default="/home/user/workspace/src/Camera-ROS-Git/mobilenet_ssd_v1_coco_quant_postprocess_edgetpu.tflite"/>
	<arg name="detected_objs_pubtopic" default="/common_obj/detected_objs"/>

    <!--node pkg="common_obj_detect" type="common_obj_detect" name="common_obj_detect" args="$(find common_obj_detect)/model/app.cfg" output="screen"-->  
    <node pkg="common_obj_detect" type="common_obj_detect" name="common_obj_detect" args="" output="screen"> 
    <param name="image_source_topic" value="$(arg image_source_topic)"/>
    <param name="image_detected_topic" value="$(arg image_detected_topic)"/>
    <param name="model_path" value="$(arg model_path)"/>
	<param name="detected_objs_pubtopic" value="$(arg detected_objs_pubtopic)"/>
    </node>
</launch>
