<launch>
	<!-- declare arguments with default values -->
    	<arg name="image_source_topic" default="/usb_cam/image_raw"/>
    	<arg name="image_pose_topic" default="/gnss_pose"/>
    	<arg name="cam_cmd_topic" default="/cam/cmd"/>
    	<arg name="image_object_topic" default="/vps/park_obj"/>
    	<arg name="image_raw_topic" default="/vps/image_raw"/>
    	<arg name="vps_status_topic" default="/vps/status"/>
    	<arg name="vps_active_topic" default="/vps/active"/>
	
        <arg name="test_mode" default="0"/>
	    <arg name="frame_counts_divide" default="1"/>
	    <arg name="bbox_expand_ratio" default="0.2"/>
	    <arg name="min_lw_ratio" default="1.2"/>
	    <arg name="max_lw_ratio" default="5.5"/>
	    <arg name="min_frame" default="2"/>
	    <arg name="max_iou" default="0.5"/>

		<node pkg="vps_detect" type="vps_detect" name="vps_detect" args="--flagfile=$(find vps_detect)/models/config/yolov3-tiny_park.txt" output="screen">
		<param name="test_mode" value="$(arg test_mode)"/>
		<param name="frame_counts_divide"  value="$(arg frame_counts_divide)"/>
		<param name="bbox_expand_ratio" value="$(arg bbox_expand_ratio)"/>	 <!-- bbox的扩展比例:防止bbox没有把车位线框在内 -->
		<param name="min_lw_ratio" value="$(arg min_lw_ratio)"/>	 <!-- park有效宽高比 用于过滤不规则车位 -->
		<param name="max_lw_ratio" value="$(arg max_lw_ratio)"/>	 <!-- park有效宽高比 用于过滤不规则车位 -->		
		<param name="min_frame" value="$(arg min_frame)"/>       <!-- 连续xx帧检测到某个车位才认为是有效车位 -->
		<param name="max_iou" value="$(arg max_iou)"/>    <!-- 重叠面积比例超过xx 认为是同一个车位 -->
			
		<param name="image_source_topic" value="$(arg image_source_topic)"/>
        <param name="image_pose_topic" value="$(arg image_pose_topic)"/>
        <param name="cam_cmd_topic" value="$(arg cam_cmd_topic)"/>
        <param name="image_object_topic" value="$(arg image_object_topic)"/>
        <param name="image_raw_topic" value="$(arg image_raw_topic)"/>
        <param name="vps_status_topic" value="$(arg vps_status_topic)"/>
        <param name="vps_active_topic" value="$(arg vps_active_topic)"/>

	
	</node>
</launch>
