<launch>
	<!-- declare arguments with default values -->
    <arg name="image_source_topic" default="/image_raw"/>
    <arg name="image_detected_topic" default="/traffic/image_detected"/>
    <arg name="model_path" default="/home/user/sc_ws/src/mobilenet_v1_simu_edgetpu.tflite"/>
    <node pkg="traffic_detect" type="traffic_detect" name="traffic_detect" args="" output="screen">   
    <param name="image_source_topic" value="$(arg image_source_topic)"/>
    <param name="image_detected_topic" value="$(arg image_detected_topic)"/>
    <param name="model_path" value="$(arg model_path)"/>
    </node>
</launch>
